@{
    ViewBag.Title = "Development";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <br />
    <h4>IDE</h4>
    <p>Visual Studio 2015 Community Edition</p>
</div>

<div>
    <br />
    <h4>Packages and Frameworks</h4>
    <ul>
        <li>ASP.NET 4.5 with MVC</li>
        <li>Entity Framework 6</li>
    </ul>
</div>

<div>
    <br />
    <h4>Resources</h4>
    <p>
        As my experience of creating web applications is limited, I used
        <a href="https://www.udemy.com/the-complete-aspnet-mvc-5-course/">The Complete ASP.NET MVC 5 Course</a>
        to assist me in developing this project.
    </p>
</div>

