@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Natural Power</h1>
    <p class="lead">An application designed and implemented by Neil Logan in support of application to the role of Software Engineer</p>
</div>

<div class="row">
    <div>
        <h2>Getting started</h2>
        <p>
            Navigate to the "Items" page in the navigation banner at the top to see the application in action.
        </p>
    </div>
</div>